/*Updates:
- 12.14.2021: Border bottom no longer enforced on headers.
  - Horizontal lines free to use and resemble previous borders best for consistency.
- 12.15.2021: Removed lines from internal links.  
- 1.3.22: Live preview image/table fix.
- 1.20.22: More consistent/additional colors for both internal/external links. 
*/

/* ------------------------------------------------------ */
/* HEADER/SECTION TEMPLATE */
/* ------------------------------------------------------ */
/* CSS file organized in top down order. 
   - i.e. root/typo/font first > title > then workspace > 
   then actual content/written parts (including page title) > then 
   alterations for exteneral stuff (such as iframe). 
*/

/* ------------------------------------------------------ */
/* TYPOGRAPHY */
/* Inspired by: Obsidian You Theme (https://github.com/selfire1/obsidian-you-theme), */
/* Material for MkDocs, and a few of my own alterations. */
/* ------------------------------------------------------ */
:root {
  /* Fonts */

  --font-headers: Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;

  /* Font Sizes */
  --smallest: 0.75rem; /* Equal to px */
  --smaller: 0.875rem; /* Equal to 14px */

  /* Roundness */
  --big-radius: 24px;
  --medium-radius: 14px;
  --small-radius: 8px;

  /* Font Weights */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 650;

  /* Heading sizes, by my design excluding h5/h6. */
  --h1: 2rem;
  --h2: 1.6rem;
  --h3: 1.37rem;
  --h4: 1.1rem;
  --h5: 1;
  --h6: 0.875rem;

  /* Colors */
  --internal-link: #d41a33; /* Derived from #aa1529, 25% brighter. */
  --strong: #a545d5;
}

/* ------------------------------------------------------ */
/* BODY */
/* Inspired by: Obsidian You Theme (https://github.com/selfire1/obsidian-you-theme), */
/* Material for MkDocs, and a few of my own alterations. */
/* ------------------------------------------------------ */
/* Header Font */
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1,
.cm-s-obsidian .cm-header-1 {
  font-family: var(--font-headers);
  font-size: var(--h1);
  font-weight: var(--light);
  color: var(--h1-color);
}

.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2,
.cm-s-obsidian .cm-header-2 {
  font-family: var(--font-headers);
  font-size: var(--h2);
  font-weight: var(--light);
  color: var(--h2-color);
}

.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3,
.cm-s-obsidian .cm-header-3 {
  font-family: var(--font-headers);
  font-size: var(--h3);
  font-weight: var(--regular);
  color: var(--h3-color);
}

.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4,
.cm-s-obsidian .cm-header-4 {
  font-family: var(--font-headers);
  font-size: var(--h4);
  font-weight: var(--bold);
  color: var(--h4-color);
}

.markdown-preview-view h5,
.HyperMD-header-5,
.cm-header-5,
.cm-s-obsidian .cm-header-5 {
  font-family: var(--font-headers);
  font-size: var(--h5);
  font-weight: var(--regular);
  color: var(--h5-color);
}

.markdown-preview-view h6,
.HyperMD-header-6,
.cm-header-6,
.cm-s-obsidian .cm-header-6 {
  font-family: var(--font-headers);
  font-size: var(--h6);
  font-weight: var(--medium);
  color: var(--h6-color);
}

/* ------------------------------------------------------ */
/* TITLEBAR */
/* Originally by @pseudometa (Discord) aka @chrisgrieser (GitHub) */
/* from the Shimmering Focus theme (https://github.com/chrisgrieser/shimmering-focus/) */
/* ------------------------------------------------------ */
/* display only when set in style settings */
body:not(.show-titlebar) .titlebar{
	display: none;
}

/* fix for Mac OS Traffic Lights */
/* same for right side to harmonize */
body:not(.show-titlebar) .workspace-split.mod-left-split > .workspace-tabs,
body:not(.show-titlebar) .workspace-split.mod-right-split > .workspace-tabs {
	padding-top: 1.15em;
}
/*thanks @javalent*/
body:not(.show-titlebar) .workspace-split.mod-left-split.is-collapsed ~ .mod-root .view-header{
	padding-left: 45px;
}

/* header bar is considered as titlebar on mobile */
.theme-dark:not(.show-titlebar):not(.is-mobile),
.theme-light:not(.show-titlebar):not(.is-mobile) {
	padding: 0 !important;
}

/* adapt height of resize handle */
body:not(.show-titlebar) .workspace-split.mod-horizontal > .workspace-leaf-resize-handle {
	top: 3.05em !important;
}

/* styling when shown */
.theme-light .titlebar-button{
	opacity: 1;
	color: var(--text-on-accent);
}
.titlebar-button{
	opacity: 1;
	color: var(--more-contrast-muted);
}
.titlebar-button:hover{
	color: var(--alt-accent);
}
.titlebar-button:active{
	color: var(--text-accent);
}

/* proper light theme for titlebar */
.theme-light .titlebar {
	background-color: var(--background-secondary-alt);
}

.theme-light .titlebar-text{
	opacity: 1;
	color: var(--more-contrast-muted);
}

/* ------------------------------------------------------ */
/* SIDEPANELS/WORKSPACE TABS */
/* ------------------------------------------------------ */
/* Make sidepanels level better with freed space after hiding window title bar. */
body:not(.show-titlebar) .workspace-split.mod-left-split > .workspace-tabs, body:not(.show-titlebar) .workspace-split.mod-right-split > .workspace-tabs {
  padding-top: 0.05em; /* Match it to gradient bar's top line. */
}

/* Close small gap on left panel from previous "leveling" or rising effect. */
.workspace-tabs {
  padding-right: 0;
}

/* Resize *resize* handles to fit into new empty space (result of panel changes). */
body:not(.show-titlebar) .workspace-split.mod-horizontal > 
.workspace-leaf-resize-handle {
  top: 1.95em !important;
}

/* ------------------------------------------------------ */
/* PAGE HEADER */
/* ------------------------------------------------------ */
/* RPCS3 inspired title border. */
.view-header {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid !important;
  border-image-slice: 1;
  border-width: 5px;
  /* #be4848 derived from #aa1529, as a lighter tone. */
  border-image-source: linear-gradient(90deg,#b200ff,#be4848); 
}

/* Effectively the same but easier on dark-mode eyes. */
.theme-dark .view-header {
  border-image-source: linear-gradient(90deg, #8e00cc, #aa1529);
}

/* ------------------------------------------------------ */
/* HORIZONTAL LINE */
/* ------------------------------------------------------ */
.markdown-preview-view hr {
  margin: 0;
  border-top: 1px solid;
  border-color: #aaaaaa;
}

.theme-dark .markdown-preview-view hr {
  border-color: #353a3c;
}

/* ------------------------------------------------------ */
/* CONTENT HEADERS */
/* ------------------------------------------------------ */
/* Heading edits based on Google's Markdown Style Guide. */
.markdown-preview-view h1 {
  font-size: var(--h1);
  /*Auto-add border. Commented out for users to *choose*
  whether to have lines or not.*/
  /*padding-bottom: 0.3em;*/
  /*border-bottom: 1px solid #aaa;*/ /*#eaecef;*/
}

.theme-dark .markdown-preview-view h1 {
  border-bottom-color: rgb(53, 58, 60);
}

.markdown-preview-view h2 {
  font-size: var(--h2);
  /*Auto-add border. Commented out for users to *choose*
  whether to have lines or not.*/
  /*padding-bottom: 0.3em;
  border-bottom: 1px solid #aaa; /*#eaecef;*/
  display: flex; /* To complement infoboxes. */
}

.theme-dark .markdown-preview-view h2 {
  border-bottom-color: rgb(53, 58, 60);
}

.markdown-preview-view h3 {
  font-size: var(--h3);
}

.markdown-preview-view h4 {
  font-size: var(--h4);
  font-style: italic;
}

/* ------------------------------------------------------ */
/* ORDERED-STYLE LISTS
/* ------------------------------------------------------ */
/*Table of Content wiki-like numbered lists.*/
/*
:not(.footnotes) > ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
}

:not(.footnotes) > ol > li {
  display: table;
  counter-increment: item;
}

:not(.footnotes) > ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

:not(.footnotes) > li ol > li {
  margin: 0;
}

:not(.footnotes) > li ol > li:before {
  content: counters(item, ".") " ";
}*/

/* ------------------------------------------------------ */
/* IMAGES */
/* ------------------------------------------------------ */
.markdown-preview-view img {
  border-radius: 5px;
}

/* ------------------------------------------------------ */
/* EXTERNAL LINKS */
/* ------------------------------------------------------ */
.markdown-source-view.mod-cm6 span.cm-link,
.external-link {
  color: #be4848;
  text-decoration: underline;
}

a:hover {
  color: #cd6864; /* Tint/shade towards white, based on #be4848 */
}

/* ------------------------------------------------------ */
/* EXTERNAL/EMBEDDED MEDIA */
/* ------------------------------------------------------ */
/* RPCS3 inspired embedded videos. */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  -webkit-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  z-index: 2;
}

/*=======================================================*/
/* Remove automatic footnote lines since we generate our own. */
.footnotes hr {
  display: none;
}

/* Remove spelling errors regarding html tags themselves (not the content within it). */
.cm-tag.cm-overlay.cm-spell-error{
  background-image: none;
}

/* ------------------------------------------------------ */
/* TAGS */
/* ------------------------------------------------------ */
.markdown-preview-view .tag:not(.token) {
  text-decoration: none;
  font-weight: 550;
  background-color: var(--background-secondary);
  border-radius: 30px;
  font-size: 0.9em;
  padding: 2px 8px;
  border: 1px solid var(--background-modifier-border);
}

/* ------------------------------------------------------ */
/* INTERNAL LINKS */
/* ------------------------------------------------------ */
.markdown-source-view.mod-cm6 .cm-hmd-internal-link,
.markdown-preview-view .internal-link {
  text-decoration: none;
  color: var(--internal-link);
}

/* Source mode */
.markdown-source-view.mod-cm6 .cm-hmd-internal-link span.cm-underline {
  text-decoration: none;
}

.cm-s-obsidian span.cm-formatting-link {
  color: var(--text-faint) !important;
}

/*
.markdown-source-view.mod-cm6 span.cm-hmd-internal-link:hover {
  text-decoration: none;
}/*

/* Adjusts underline color of hovered internal links in edit mode. */
/* While I like no underlines, I believe their place in edit mode */
/* makes sense for an immediate visual signal on what mode we're in. */
.cm-s-obsidian span.cm-hmd-internal-link:hover {
  text-decoration: underline;
  text-decoration-color: #be4848;
}

/* Link hover animation */
/* Inspired by PS3/XMB */
.markdown-preview-view .internal-link:hover {
  animation: animate 
      2s linear infinite;
}

@keyframes animate {
  0% {
    text-shadow: 1px 0px 0.25em;
  }
  50% {
    text-shadow: 1px 0px 0.25em #aaa;;
  }

  100% {
    text-shadow: 1px 0px 0.25em;
  }
}

/* ============================== */
/* LIVE PREVIEW ADJUSTEMNTS 
/* ============================== */

/* Shrinks images in live preview source/edit mode for readability. */
/* Especially when it comes to managing images in tables (previously full width). */ 
.markdown-source-view.cm-s-obsidian.mod-cm6.is-readable-line-width.is-line-wrap.is-live-preview img {
  max-width: 300px;
}

/* ------------------------------------------------------ */
/* BLOCKQUOTES */
/* ------------------------------------------------------ */

/* Admonition like blockquote. */
.markdown-preview-view blockquote {
  /* Disable quirks from default Obsidian blockquote. */
  border: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


/* Indention. */
div.markdown-preview-view blockquote {
  margin-inline-start: 15px;
}

/* Customizing majority of signature appearance here. */
.markdown-preview-view blockquote {
  margin: 1.5625em 0;
  padding: 0;
  overflow: hidden;
  color: var(--text-normal);
  page-break-inside: avoid;
  background-color: var(--background-secondary);
  border-left: 0.2rem solid #8e00cc; /*rgb(255, 23, 68);*/
  border-radius: 0.1rem;
  box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow);
}

/* Admonition-like margins. */
.markdown-preview-view blockquote > :first-child {
  margin-top: 32px;
}

.markdown-preview-view blockquote > :last-child {
  margin-bottom: 32px;
}

.markdown-preview-view blockquote p {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  overflow-x: auto;
}

/* ------------------------------------------------------ */
/* BOLD (STRONG) */
/* ------------------------------------------------------ */
.cm-s-obsidian .cm-strong,
.markdown-preview-view strong {
  /* Derived from #8e00cc, toned towards White. */
  color: var(--strong);
}